body {
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

.MuiPaper-root.MuiPaper-rounded,
.MuiPaper-root.MuiDrawer-paper {
  backdrop-filter: blur(10px);
}

.MuiPaper-root.MuiPaper-rounded {
  border: 1px solid rgba(255,255,255,0.1);
}

.MuiInputLabel-marginDense:not(.MuiInputLabel-shrink) {
  transform: translate(0, 20px) scale(1);
}

*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background-color: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
}